@import '../abstracts/variables';
@import '../base/theme';
@import '../atoms/anchor';

.header {
  position: fixed;
  left: 0;
  right: 0;
  padding-left: 6%;
  padding-right: 6%;
  height: $header_height;
  line-height: $header_height;
  color: $text-color;
  background-color: $header-bg;
  z-index: 1;
}


.header__icon {
  display: none;
}

a.header__logo {
  font-weight: 700;
  padding: 0 25px;
  float: left;

  span{
    font-size: 2em;
  }

  @include anchor__button(
    $header_height,
    inline_block,
    80%,
    #fff,
    #fff,
    darken($header-bg, 5),
    darken($header-bg, 3)
  );

}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .header {
    position: static;
    padding-right: 0;
    padding-left: 0;
  }

  .header__icon {
    background-color: $header-bg;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 45px;
    height: $header_height;

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      vertical-align: center;
      text-align: center;
      width: 1rem;
      height: 0;
      top: 5px;
      left: 15px;
      box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    }
  }
}
