@import '../abstracts/variables';
@import '../base/theme';
@import '../atoms/anchor';


.profile__icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15px;
  z-index: -3
}

.menu {
  display: block;

  .menu__anchor, a {
    padding: 0 15px;
    text-decoration: none;

    @include anchor__button(
      $header_height,
      inline-block,
      80%,
      #fff,
      #fff,
      $header-bg,
      darken($header-bg, 10)
    );
  }

  .menu__anchor__chosen, a {
    padding: 0 15px;
    text-decoration: none;

    @include anchor__button(
      $header_height,
      inline-block,
      80%,
      #fff,
      #fff,
      darken($header-bg, 10),
      darken($header-bg, 10)
    );
  }

  .menu__anchor__green, a {
    padding: 0 15px;
    text-decoration: none;

    @include anchor__button(
      $header_height,
      inline-block,
      80%,
      #fff,
      #fff,
      $forth-color,
      darken($forth-color, 10)
    );
  }

  .dropdown__button {
    text-decoration: none;
    align-content: center;

    @include anchor__button(
      $header_height,
      inline-block,
      80%,
      #fff,
      #fff,
      $header-bg,
      darken($header-bg, 10)
    );

    img{
      height: 80%;
      width: auto;
      border-radius: 50%;
      vertical-align: middle;
    }


    .dropdown__content {
      visibility: hidden;
      display: block;
      top: $header_height;
      background-color: #f9f9f9;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: -1;
    }

    .dropdown__content a{
      text-decoration: none;
      min-width: 100%;
      position: relative;

      @include anchor__button(
        $header_height,
        block,
        80%,
        #fff,
        #fff,
        $header-bg,
        darken($header-bg, 10)
      );
    }

    &:hover .dropdown__content{
      visibility: visible
    }
  }
}

.menuLeft{
  float: left;

  @extend .menu;
}

.menuRight{
  float: right;

  @extend .menu;
}

.sideMenu {
  display: none;
  z-index: -1;
}

.sitePusher {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: calc(100% - 40px);
  transition: 0.3s;
  transform: translateX(0);
}

/* RESPONSIVE */
@media only screen and (max-width: 350px) {
  .menuLeft{
    display: none;
  }

  .sitePusher {
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transform: translateX(0);
  }

  .sideMenu {
    overflow: auto;
    width: $menu-width;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    background-color: darken($header-bg, 10);
    transform: translateX($menu-width * -1);

    /*    overflow-y: scroll;
        -webkit-overflow-scrolling: touch;*/
    a {
      @include anchor__button(
        $header_height,
        block,
        80%,
        #fff,
        #fff,
        darken($header-bg, 10),
        darken($header-bg, 20)
      );
    }

  }

  .withSideMenu {
    .sitePusher {
      transform: translateX($menu-width);
    }

    .siteCache {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
    }
  }
}
