@import '../abstracts/mixin/mixins';
@import '../base/theme';

html{
  min-height: 100%;
}

body{
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin-bottom: 0;
  margin-top: 0;
  opacity: 0.15;
}

.pageContainer {
  margin-top: $header_height;
  overflow-y: scroll;
  height: 100%;
  background-color: rgba(220, 220, 220, 0.3);

}

.footerContainer {
  background-color: #1f1f1f;
  margin: 0 auto;
  padding: 30px 10px 50px 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  padding-bottom: 50px;

}

@media only screen and (max-width: 768px){
  .footerContainer{
    display: none;
  }
}

@media only screen and (min-width: 769px){
  .searchToolbar{
    display: none;
  }
}

.footerTitle {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 12px;
  color: #bbc0c4;
  line-height: 1.30769231;
  max-width: 230px;
  vertical-align: baseline;
}

.footerNav {
  display: flex;
  flex: 5 1 auto;
  flex-wrap: wrap;
  padding: 0 0 20px 80px
}

.footerCol {
  background-color: #1f1f1f;
  flex-direction: column;
  flex: 2 0 auto;
  box-sizing: border-box;

  .list{
    margin: 0;
    list-style: none;
    padding-left: 0;

    .item{
      border: 0;
      font: inherit;
      color: #bbc0c4;
      font-size: 100%;
      vertical-align: baseline;
    }
  }

  &:nth-of-type(3){
    flex: 1 0 auto;
  }

}

.footerRow {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;

}

.footerLink {
  font-size: 1rem;
}

.footerCopyrightWrapper {
  flex: 3;
  color: #bbc0c4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .list{
    margin: 0;
    align-self: flex-start;
    list-style: none;
    padding-left: 0;
    justify-content: space-around;
    display: flex;
    flex-direction: row;

    .item{
      border: 0;
      font: inherit;
      padding-right: 1rem;
      color: #bbc0c4;
      font-size: 1rem;
      vertical-align: baseline;
    }
  }
}

.footerCopyright{
  font-size: 0.7rem !important;
}


.siteContainer {
  padding:0;
  margin:0;
  height: 100%;
}


.clear{
  clear: both;
  display: block;
}



