/*
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
// stucture okay
// style has to be variable
// mixin?

.dropdown:hover .dropdown-content {
  display: block;
}
// show dropdown-content when hover





//not needed
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropbtn { // this styling should be variable
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

*/
