
.errorLabel{
  font-size: 0.8em;
  transition: all 0.5s ease;
  color: #ff5252 !important;
  line-height: 80%;
}

.formWrap {
  position: relative;
  height: 50px;
  width: 300px;

  label {
    color: $third-color;
    position: absolute;
    top: 25px;
    font-size: 1em;
    transition: all 0.5s ease;
  }

  hr {
    display: block;
    border: 0;
    float: none;
    border-top: 1px solid $third-color;
    margin: 0;
    padding: 0;
  }

  .validColor{
    color: $third-color;
  }

  .invalidColor{
    color: #ff5252;
  }


  .active.valid + hr {
    @include active_hr ($third-color);
  }

  .active.invalid + hr {
    @include active_hr (#ff5252);
  }

  .active.valid label{
    @include active_label ($third-color);
  }

  .active.invalid label {
    @include active_label (#ff5252);
  }

  input {
    color: #000;
    display: block;
    outline: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    padding-top: 15px;
    border: none;
    font-size: 0.8em;
    font-weight: 200;
    background: transparent;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    transition: all 0.5s ease;
  }

  input, select, textarea{
    color: #fff;
  }

  textarea:focus, input:focus {
    color: #fff;
  }

  .active input {
    transition: all 0.5s ease 0.3s;
    outline: none;
    background: transparent;
    border: none;
  }



  .input {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }


  .input.invalid {
    transform-origin: center;
  }

  .input.valid {
    transform-origin: bottom;
  }


  .input::before {
    content: '';
    position: absolute;
    height: 18px;
    width: 3px;
    right: 15px;
    bottom: -50px;
    background-color: transparent;
    transform-origin: inherit;
    transform: rotate(0deg);
    transition: transform 0.4s ease, bottom 0.4s ease 0.3s, background-color 0.2s ease 0.6s;
  }

  .input::after {
    content: '';
    position: absolute;
    height: 18px;
    width: 3px;
    right: 15px;
    bottom: -50px;
    visibility: hidden;
    background-color: transparent;
    transform-origin: inherit;
    transform: rotate(0deg);
    transition: transform 0.4s ease, visibility 0.4s ease, bottom 0.4s ease 0.3s, background-color 0.2s ease 0.6s, height 0.2s ease 0.6s;
  }

  .valid::before {
    bottom: 5px;
    right: 16px;
    visibility: visible;
    background-color: $third-color;
    transform-origin: inherit;
    transform: rotate(40deg);
    transition: bottom 0.4s ease, transform 0.4s ease 0.3s;
  }

  .valid::after {
    bottom: 5px;
    height: 8px;
    visibility: visible;
    background-color: $third-color;
    transform-origin: inherit;
    transform: rotate(-45deg);
    transition: bottom 0.4s ease, visibility 0.4s ease 0.3s, transform 0.4s ease 0.3s;
  }

  .invalid::before {
    bottom: 3px;
    visibility: visible;
    background-color: #ff5252;
    transform: rotate(40deg);
    transition: bottom 0.4s ease, transform 0.4s ease 0.3s;
  }

  .invalid::after {
    height: 18px;
    bottom: 3px;
    visibility: visible;
    background-color: #ff5252;
    transform: rotate(-45deg);
    transition: bottom 0.4s ease, visibility 0.4s ease 0.3s, transform 0.4s ease 0.3s;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus{
    border: none;
    -webkit-text-fill-color: darken(yellow, 10);
    -webkit-box-sizing: content-box;
    transition: background-color 5000s ease-in-out 0s;
  }
}


