/*  SECTIONS  */
.section {
  clear: both;
  padding: 0;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 2% 1% 2% 2%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group::before,
.group::after {
  content:''; display:table;
}

.group::after { clear:both;}

.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66%; }
.span_1_of_3 { width: 30%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 2.5% 0 2.5% 0; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/*  GRID OF FIVE  */
.span_5_of_5 {
  width: 100%;
}

.span_4_of_5 {
  width: 79%;
}

.span_3_of_5 {
  width: 58%;
}

.span_2_of_5 {
  width: 37%;
}

.span_1_of_5 {
  width: 16%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
}
