.businessImage{
  display: block;
  max-width:150px;
  max-height:100px;
  width: auto;
  height: auto;
}

.matchField{
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 2rem;

  input{
    padding-left: 1rem;
  }
}

.businessImageWrapper{
  display: flex;
  width: 150px;
  height: 100px;

}

.matchResultBrief{
  display: flex;
  padding-left: 1rem;
  flex-direction: column;
}

.matchResultItem{
  @extend .storyListItem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
