@import '../abstracts/variables';

.icon-wrapper {
  position: relative;
  display: inline;
  float: right;
  size: (50 px, 50 px);
  background-color: #fff;
  transition: background-color 0.25s ease-out;
  cursor: pointer;

  .ion-eye, .ion-more {
    font-size: 2.6em;
    position: absolute;
    top: 11px;
    right: 12px;
    color: #ccc;
    transition: color 0.25s ease-out;

    .ion-more {
      right: 14px;
    }

    &:hover {
      transition: background-color 0.25s ease-out;
      background-color: #fff;

      .ion-eye, .ion-more {
        color: $blue-color;
        transition: color 0.25s ease-in;
      }
    }
  }
}

.strength-lines {
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  size: (calc(100% - 50px), 6px);
  z-index: 3;

  .line {
    position: absolute;
    background-color: transparent;
    height: 6px;
    border-radius: 2px;
    transition: background-color 0.25s ease-in;

    &:first-of-type {
      left: 4px;
      right: 68%;
    }

    &:last-of-type {
      left: 68%;
      right: 4px;
    }

    &:not(:first-of-type):not(:last-of-type) {
      left: 33%;
      right: 33%;
    }
  }
}
