@import '../abstracts/variables';
@import '../base/theme';

.VehicleListCard {
  color: $secondary-color;

  ul {
    padding-left: 17px;

    li {
      margin-bottom: 0.5em;
    }
  }

  a {
    color: $secondary-color;
  }
}
