@mixin dropdown() {
  .dropdown__content {
    visibility: hidden;
    display: block;
    top: $header_height;
    right: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown__content a{
    padding: 0 15px 0 15px;
    text-decoration: none;
    min-width: 100%;
    right: 15px;
    position: relative;

    @extend .no_highlight;

    @include anchor__button(
      $header_height,
      block,
      80%,
      #fff,
      #fff,
      lighten($header-bg, 10),
      lighten($header-bg, 20)
    );
  }

  &:hover .dropdown__content{
    visibility: visible
  }
}
