@import '../abstracts/_variables.scss';

@mixin button-bg($bg) {
  background: $bg;

  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }

  &:active {
    background:darken($bg,8%);
  }
}

.btn {
  color:#fff;
  text-decoration:none;
  padding:5px 10px;
  border-radius:3px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size:1em;
}

.btnGreen {
  @extend .btn;

  @include button-bg(#2ecc71);
}

.btnBlue {
  @extend .btn;

  @include button-bg($blue-color);
}

.btnYellow{
  @extend .btn;

  @include button-bg(#f1c40f);
}

.btnRed {
  @include button-bg(#e74c3c);
}

/*Other Stylez*/
.wrap {
  margin:0 auto;
  width:800px;
  text-align:center;
}
