
.loginButtonBox {
  clear: both;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 85%;
  height: 35px;
  background-position: 1em;
  background-repeat: no-repeat;
  border-radius: 0.5em;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.8em;
  position: relative;
  line-height: 1em;
  text-decoration: none;
  transition: all 0.5s;
}



.btnFacebook {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 8px;
}

.btnGoogle {
  display: inline-block;
  position: relative;
  top: 8px;
}


