.addStoryBgFull {
  background-color: $secondary-color;
  background-size: cover;
  background-position: center;
  color: #000;
}


.addStoryContainerFull {
  height: 100%;

  @extend .container;
  @extend .addStoryBgFull;
}

div.addStory{
  position: fixed;
  top: 0%;

  @extend .siteContent;
}
