.Home {
  padding: 20px 15px;
}

.homeBgFull {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://i.imgur.com/GxpLBVZ.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.homeBg {
  background-attachment: fixed;
  background-color: black;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.mainContent {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover_wrap {
  max-width:1400px;
  width:100%;
  margin:0 auto;
  display:flex;
  height:100vh;
  align-items:center;
  position:relative;
}

.flex{
  position: absolute;
  width: 100%;
  display: flex;

  @media only screen and (max-width: 992px) {
    display: block;
  }
}

.half {
  width:50%;
  height:425px;
  display: flex;
  padding-left:25px;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:column;
  transition:all 0.75s;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-image:url('https://i.imgur.com/GxpLBVZ.jpg');

  &:nth-of-type(2){
    background-image:url('https://i.imgur.com/3Xs2mJc.jpg');
  }

  h2 {
    font-weight:400;
    letter-spacing:0;
    font-size:2.25rem;
    margin:0;
    transition:all 2s;

    @media only screen and (max-width: 992px) {
      font-size:1.875rem;
      top: 15%;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      left: auto;
      transform: translate(-50%, 50%);
    }
  }

  h5 {
    transition:all 2s;

    @media only screen and (max-width: 992px) {
      position: relative;
      right: 15%;
    }
  }

  .btn_more {
    border:1px solid #fff;
    max-width:125px;
    width:100%;
    height:45px;
    display: flex;
    align-items:center;
    justify-content:center;
    margin:10px;
    text-transform:uppercase;
    font-size:0.9rem;
    font-weight:500;
    letter-spacing:1px;
    transition:all 0.75s;

    @media only screen and (max-width: 992px) {
      position: relative;
      top: 20%;
      transform: translate(-50%, -50%);
    }


  }


  .overlay {
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#000;
    opacity:0.3;
  }

  .half_content {
    position:relative;
    z-index:5;
    color:#fff;
    display: flex;
    flex-direction:column;
    align-items:center;
    max-width:400px;
  }

  &:hover {
    width:75%;
    background-color:black;
    background-size: cover;

    h2 {
      letter-spacing:2.5px;
    }

    h5 {
      letter-spacing:2.5px;
    }

    .btn_more {
      background: #fff;
      color: #000;
      margin: 40px 0;
    }
  }

  @media only screen and (max-width: 992px) {
    height:250px;
    width: 100%;

    &:hover {
      width:100% !important;
      background-color:black;
      background-size: cover;

      h2 {
        letter-spacing:2.5px;
      }

      .btn_more {
        background:#fff;
        color:#000;
      }
    }
  }
}


