@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixin/mixins';

// 2. Vendors

// 3. Base stuff
@import 'base/theme';
@import 'base/typography';

// 4. Components
@import 'components/addStory/AddStory';
@import 'components/addStory/AddStoryForm';
@import 'components/addStory/AddStoryFormField';
@import 'components/addStory/BudgetInput';
@import 'components/dropdown/DropdownMenu';
@import 'components/home/Home';
@import 'components/home/_StorySection';
@import 'components/login/Login';
@import 'components/login/LoginForm';
@import 'components/login/LoginFormField';
@import 'components/login/PasswordField';
@import 'components/notFound/NotFound';
@import 'components/storyDetail/StoryDetail';
@import 'components/storyDetail/AddCommentForm';
@import 'components/storyDetail/CommentListItem';
@import 'components/storyList/StoryList';
@import 'components/App';
@import 'components/ErrorDisplay';
@import 'components/Grid';
@import 'components/Loading';
@import 'components/MatchResult';
@import 'components/search/SearchToolbar';

// 5. Atoms
@import 'atoms/button';
@import 'atoms/socialbutton';



// 7. Layout-related sections
@import 'layout/header',
  'layout/navMenu';

.iconFacebook {
  display: inline-block;
  position: relative;
  right: 20%;
  align-content: left;
  background-image: url('../../public/facebook.svg');
  background-repeat: no-repeat;
  z-index: 5;
}

.iconGoogle {
  display: inline-block;
  position: relative;
  right: 20%;
  align-content: left;
  background-image: url('../../public/google.svg');
  background-repeat: no-repeat;
  z-index: 5;
}

.buttonBoxFB{
  margin: 30px 0 15px 0;
  background: url('../../public/facebook.svg') 4px 4px no-repeat;
  background-color: #3b5998;
  background-position: left center;

  @extend .loginButtonBox;
}

.buttonBoxGoogle{
  margin: 0 0 15px 0;
  background: url('../../public/google.svg') 4px 4px no-repeat;
  background-color: #dd4b39;
  background-position: left center;

  @extend .loginButtonBox;
}
