@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixin/mixins';

// 2. Vendors

// 3. Base stuff
@import 'base/scaffolding';
@import 'base/theme';
@import 'base/typography';

// 4. Components
@import 'components/CommentListItem',
  'components/DropdownMenu',
  'components/ErrorDisplay',
  'components/Grid',
  'components/InfiniteScroll',
  'components/LoginForm',
  'components/Loading',
  'components/LoginFormField',
  'components/AddStoryForm',
  'components/AddStoryFormField',
  'components/VehicleDetailCard',
  'components/VehicleListCard';

// 5. Atoms
@import 'atoms/button';
@import 'atoms/socialbutton';

// 6. Containers
@import 'containers/App',
  'containers/home/Home',
  'containers/home/StorySection',
  'containers/Login',
  'containers/NotFound',
  'containers/AddStory',
  'containers/UserInfo';

// 7. Layout-related sections
@import 'layout/header',
  'layout/navMenu';

.iconFacebook {
  display: inline-block;
  position: relative;
  right: 20%;
  align-content: left;
  background-image: url('../../public/facebook.svg');
  background-repeat: no-repeat;
  z-index: 5;
}

.iconGoogle {
  display: inline-block;
  position: relative;
  right: 20%;
  align-content: left;
  background-image: url('../../public/google.svg');
  background-repeat: no-repeat;
  z-index: 5;
}

.buttonBoxFB{
  margin: 30px 0 15px 0;
  background: url('../../public/facebook.svg') 4px 4px no-repeat;
  background-color: #3b5998;
  background-position: left center;

  @extend .loginButtonBox;
}

.buttonBoxGoogle{
  margin: 0 0 15px 0;
  background: url('../../public/google.svg') 4px 4px no-repeat;
  background-color: #dd4b39;
  background-position: left center;

  @extend .loginButtonBox;
}
