@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixin/mixins';

// 2. Vendors

// 3. Base stuff
@import 'base/scaffolding';
@import 'base/theme';
@import 'base/typography';

// 4. Components
@import 'components/ErrorDisplay',
  'components/LoginForm',
  'components/Loading',
  'components/FormField',
  'components/StatementDetailCard',
  'components/StatementListCard';

// 5. Atoms
@import 'atoms/button';
@import 'atoms/socialbutton';

// 6. Containers
@import 'containers/App',
  'containers/Home',
  'containers/Login',
  'containers/NotFound',
  'containers/StatementDetail',
  'containers/StatementList',
  'containers/UserInfo';

// 7. Layout-related sections
@import 'layout/header',
  'layout/navMenu';

.btnFacebook {
  background-color: #3b5998;
  background-image: url('../../public/facebook.svg');
  background-repeat: no-repeat;
}

.btnGoogle {
  background-color: #dd4b39;
  background-image: url('../../public/google.svg');
  background-repeat: no-repeat;
}
