@import '../../abstracts/variables';

.loginContainerFull {
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://i.imgur.com/VyId9FC.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}
