@import '../../abstracts/variables';
@import '../../base/theme';
@import '../../base/typography';

.addCommentForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-basis: 100%;
  background-color: transparent;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.submitCommentFormButtonWrapper{
  text-align: left;
  width: 20rem;
}

.submitCommentFormButton {
  @extend .loginButtonBox;

  display: block;
  margin-right: auto;
  background-color: $primary-color;
  font-size: 0.5em;
}

