.story_section{
  width: 90%;
  padding: 1em 0;
  margin: 0 auto;


  @extend .section;
  @extend .group;

  .card{
    display: grid;
    border-radius: 15px;
    grid-template-rows: 0.15fr 0.3fr;
    background-color: #03262a;

    @extend .col;
    @extend .span_1_of_3;

    div{
      width: auto;
      text-align: center;
      vertical-align: middle;
      box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.3);

      @extend .no_highlight;
    }

    div:nth-of-type(1){
      background-color: #000;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      color: white;
    }

    div:nth-of-type(2){
      padding: 10%;
      font-size: 0.8em;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      color: white;
      background-color: #03262a;
    }

    &:hover{
      transition-duration: 500ms;
      transform: scale(1.1);
      box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.5);
    }

  }
}
