@import 'theme';

.link {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-visited-color;
  }

  &:hover, &:visited:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.fixed {
  font-family: $fixed-font-family;
  font-size: $fixed-font-size;
  line-height: $fixed-line-height;
}

.quiet { color: $quiet-color; }
.loud  { color: $loud-color; }

.italic { font-style: italic; }

.bold   {
  font-weight: 700;

  @extend .loud;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}
.h1, .h2 { line-height: 1.1; }
.h3, .h4 { line-height: 1.3; }

.h1 {
  font-size: 400%;
  letter-spacing: -2px;
}

.h2 {
  font-size: 250%;
  letter-spacing: -1px;
}
.h3 { font-size: 200%; }
.h4 { font-size: 180%; }
.h5 { font-size: 130%; }
.h6 { font-size: 100%; }
.text{  font-size: 80%;  }
.small{  font-size: 60%;  }

.blockMargins { margin: 1em 0; }

.unorderedList { list-style-type: disc; }
.orderedList { list-style: decimal; }

.typography {
  a { @extend .link; }

  i, em { @extend .italic; }
  b, strong { @extend .bold; }

  h1 { @extend .h1; margin: 1em 0 0.5em; }
  h2 { @extend .h2; margin: 1em 0 0.5em; }
  h3 { @extend .h3; margin: 1em 0 0.5em; }
  h4 { @extend .h4; margin: 1em 0 0.5em; }
  h5 { @extend .h5; margin: 1em 0 0.5em; }
  h6 { @extend .h6; margin: 1em 0 0.5em; }

  p, ul, ol, pre { @extend .blockMargins; }

  ul { @extend .unorderedList; }
  ol { @extend .orderedList; }

  pre, code { @extend .fixed; }
}


/*
 * Modifiers
 */

.floatLeft  {
  float: left;
  margin-right: 1em;
}

.floatRight {
  float: right;
  margin-left: 1em;
}

.textLeft   {  text-align: left !important;  }
.textCenter { text-align: center !important; }
.textRight  { text-align: right !important; }


/*
 * Object definitions
 */

.content {
  margin: 0 auto;
  width: 32em;
}

.headerBlock {
  font-size: 110%;

  &.typography h1 {
    font-size: 450%;
    margin-top: 0 !important;
  }
}

.authorBlock {
  border-top: 3px double $quiet-color;
  margin-top: 4em;
}
